 <h1>Postagens</h1>
    <ul>
        {{#each posts}}
            <li>
                <strong>{{titulo}}</strong><br>
                <p>{{conteudo}}</p>
            </li>
        {{/each}}
    </ul>
    <a href="/cad">Cadastrar nova postagem</a>
